{% extends "layout.html" %}
{% block content %}
<div class="bg-1">
  <div class="container text-center">
    <h1>CuidarMe!</h1>
    <img src="../static/img/newstart.png"  alt="CuidarMe!" width="200" height="100">
  </div>
</div>

<div class="container-fluid bg-2 text-center">
  <h3>Muchas gracias por tu aporte!</h3>
  <p>¿Quieres comentarle a un amigo sobre esta red? </p>
  <p>Enviale un e-mail ahora, seguro te lo agradecerá!</p>

</div>
<div class="container-fluid  text-center">
  <a href="/" class="btn btn-default btn-lg">Regresar a la página principal!</a> 
</div>		
    

{% endblock %}