{% extends "layout.html" %}
{% block content %}
<div class="bg-1">
  <div class="container text-center">
    <h1>CuidarMe!</h1>
    <img src="../static/img/newstart.png"  alt="CuidarMe!" width="200" height="100">
  </div>
</div>

<div class="container-fluid bg-2 text-center">
  <h3>Muito obrigado pela sua contribuição!</h3>
  <p>Você quer dizer a um amigo sobre esta rede? </p>
  <p>Enviar um e-mail agora, com certeza será obrigado!</p>

</div>
<div class="container-fluid  text-center">
  <a href="/br" class="btn btn-default btn-lg">Voltar para a página principal</a> 
</div>		
    

{% endblock %}