{% extends "layout.html" %}
{% block content %}

<a href="/">
<img border="0" src="../static/img/spanish-flag.png" width="30" height="30">
</a>

<a href="/br">
<img border="0" src="../static/img/brasil-flag.png" width="30" height="30">
</a>


  <div class="bg-1">
  <div class="container text-center">
    <h3>Welcome to</h3>
    <h1>CuidarMe!</h1>
    <img src="../static/img/newstart.png"  alt="CuidarMe!" width="200" height="100">
  </div>
</div>


<div class="container-fluid bg-2 text-center">
  <h3>Who are we?</h3>
  <p>CuidarMe! is a contact network where parents interested in the welfare of their children meet each other with professionals in the care of them.
  </p>

<p>In addition, parents and professional can access reputation, availability and interests of the members of the network. In this way we build together a network of trust towards our children.</p>

</div>

<div class="container-fluid bg-3 text-center"> 
  <h3>How we can help you?</h3>
  <div class="row">
    <div class="col-sm-4">
      <p>We have extensive contact base of qualified babysitters.</p>            
      <p>You can access not just references but also know their studies, availability and taste.</p>
      <p>This way you can find the babysitter that best suits your needs and those of your children.</p>

      <img src="../static/img/babysitter.jpg" class="img-circle" alt="Image">
    </div>

    <div class="col-sm-4">
      <p>School help you need for your children can find in Cuidarme!.</p>            
      <p>You can access the expertise, references and availability of school helpers for your children. This way, your choice will be much easier.</p>
      <img src="../static/img/apoyoescolar.jpg" class="img-circle" alt="Image">
    </div>

    <div class="col-sm-4"> 
      <p>If you have trouble finding a partner for your home with good references in Cuidarme! we can help.</p>            
      <p>In our broad base of contacts you'll find that person of confidence you need to perform the chores you need.</p>

      <img src="../static/img/helper.jpg" class="img-circle" alt="Image">
    </div>
  </div>
</div>


<div class="container-fluid bg-4 text-center">
  <h3>Locate your more suitable assistant near your home</h3>
  <a href="family_en" class="btn btn-default btn-lg">Find Now!</a> 
</div>

  
</div>
{% endblock %}