{% extends "layout.html" %}
{% block content %}

<a href="/">
<img border="0" src="../static/img/spanish-flag.png" width="30" height="30">
</a>

<a href="/en">
<img border="0" src="../static/img/usa-flag.png" width="30" height="30">
</a>


  <div class="bg-1">
  <div class="container text-center">
    <h3>Bem-vindo a</h3>
    <h1>CuidarMe!</h1>
    <img src="../static/img/newstart.png"  alt="CuidarMe!" width="200" height="100">  
  </div>
</div>


<div class="container-fluid bg-2 text-center">
  <h3>Quem somos?</h3>
  <p>CuidarMe! é uma rede de contacto onde os pais interessados no bem-estar dos seus filhos se encontram con profissionais no cuidado deles.</p>

<p>Além disso, eles podem acessar a reputação, disponibilidade e interesses dos membros da rede. Desta forma, construir juntos uma rede de confiança para com os nossos filhos.</p>

</div>

<div class="container-fluid bg-3 text-center"> 
  <h3>Como podemos ajudá-lo?</h3>
  <div class="row">
    <div class="col-sm-4">
      <p>Temos uma vasta base de contatos de babás qualificadas.</p>            
      <p>Você pode acessar não apenas referências, mas também sabemos os seus estudos, a disponibilidade eo gosto.</p>
      <p>Desta forma, você pode encontrar a babá que melhor se adapte às suas necessidades e as de seus filhos.</p>

      <img src="../static/img/babysitter.jpg" class="img-circle" alt="Image">
    </div>

    <div class="col-sm-4">
      <p>Escola de ajuda de que necessita para os seus filhos pode encontrar no CuidarMe!.</p>            
      <p>Você pode acessar a experiência, referências e disponibilidade de assistente de escola seus filhos. Assim, sua escolha será muito mais fácil.</p>
      <img src="../static/img/apoyoescolar.jpg" class="img-circle" alt="Image">
    </div>

    <div class="col-sm-4"> 
      <p>Se você tiver problemas para encontrar um parceiro para a sua casa com boas referências no CuidarMe! nós podemos ajudar.</p>            
      <p>Em nossa ampla base de contatos que você vai encontrar essa pessoa de confiança que você precisa para executar as tarefas que você precisa.</p>

      <img src="../static/img/helper.jpg" class="img-circle" alt="Image">
    </div>
  </div>
</div>


<div class="container-fluid bg-4 text-center">
  <h3>Encontrar a assistência que você precisa perto de casa</h3>
  <a href="family_br" class="btn btn-default btn-lg">Encontrarla agora!</a> 
</div>

  
</div>
{% endblock %}