{% extends "layout.html" %}
{% block content %}

<a href="/en">
<img border="0" src="../static/img/usa-flag.png" width="30" height="30">
</a>

<a href="/br">
<img border="0" src="../static/img/brasil-flag.png" width="30" height="30">
</a>

  <div class="bg-1">
  <div class="container text-center">
    <h3>Bienvenido a</h3>
    <h1>CuidarMe!</h1>
    <img src="../static/img/newstart.png"  alt="CuidarMe!" width="200" height="100">
  </div>
</div>


<div class="container-fluid bg-2 text-center">
  <h3>¿Quienes somos?</h3>
  <p>CuidarMe es una red de contacto en donde padres interesados en el bienestar de sus hijos se encuentran con profesionales en el cuidado de ellos.</p>

<p>Además, pueden acceder a la reputación, disponibilidad e intereses de los miembros de la red. De esta manera construimos entre todos una red de confianza en pos de nuestros niños.</p>

</div>

<div class="container-fluid bg-4 text-center">
  <h3>Encuentra cerca de tu hogar la asistencia que necesitas</h3>
  <a href="family" class="btn btn-default btn-lg">¡Haz click ahora!</a> 
</div>

<div class="container-fluid bg-3 text-center"> 
  <h3>¿Cómo podemos ayudarte?</h3>
  <div class="row">
    <div class="col-sm-4">
      <p>Contamos con una amplia base de contactos de babysitters calificadas.</p>            
      <p>Puedes acceder no solo a sus referencias sino también conocer su estudios, disponibilidad y gustos.</p>
      <p>De esta manera podrás encontrar la babysitter que más se ajuste a tus necesidades y a las de tus hijos.</p>

      <img src="../static/img/babysitter.jpg" class="img-circle" alt="Image">
    </div>

    <div class="col-sm-4">
      <p>La ayuda escolar que necesitas para tus hijos la podrás encontrar en Cuidarme!.</p>            
      <p>Puedes acceder a la expertise, referencias y disponibilidad de la asistente escolar de tus hijos. De esta manera, tu elección será mucho más sencilla.</p>
      <img src="../static/img/apoyoescolar.jpg" class="img-circle" alt="Image">
    </div>

    <div class="col-sm-4"> 
      <p>Si te cuesta encontrar una colaboradora para tu hogar con buenas referencias, en CuidarMe! podemos ayudarte.</p>            
      <p>En nuestra amplia base de contactos podrás encontrar a esa persona de confianza que necesitas para realizar las tareas hogareñas que necesitas.</p>

      <img src="../static/img/helper.jpg" class="img-circle" alt="Image">
    </div>
  </div>
</div>

<div class="container-fluid bg-2 text-center">
  <h3>¿Buscas Trabajo? Encuentralo cerca de tu hogar.</h3>
  <a href="nanny" class="btn btn-default btn-lg">¡Haz click ahora!</a> 
</div>



  
</div>
{% endblock %}